apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: mynet
spec:
  config: '{
    "cniVersion":"0.3.0"
    "name":"mynet"
    "plugins":[
    {
      "bridge":"kube-bridge",
      "ipam":{
        "subnet":10.244.0.0/24",
        "type":"host-local"
        },
        "isDefaultGateway":true,
        "type":"bridge"
      }
    ]
  }'
