apiVersion: v1
kind: Pod
metadata:
  name: nginx
  annotations:
    k8s.v1.cni.cncf.io/networks: mynet

spec:
  containers:
    - name: prox
      image: opnfv/rapid:latest
      imagePullPolicy: IfNotPresent
      ports:
        - containerPort: 3000
    - name: nginx
      image: nginx:alpine
      ports:
        - containerPort: 80
