[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
pyyaml = "*"
pick = "*"
simplejson = "*"
nested-lookup = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.9"
