[rapid]
loglevel = DEBUG
version = 19.6.30
total_number_of_machines = 2

[M1]
name = rapid-east
admin_ip = {{data.m1_admin_ip}}
dp_ip1 = {{data.local_eip1}}
dp_mac1 = {{data.emac1}}

[M2]
name = rapid-west
admin_ip = {{data.m2_admin_ip}}
dp_ip1 = {{data.local_eip2}}
dp_mac1 = {{data.emac2}}

[ssh]
key = {{data.key}}
user = {{data.user}}

[Varia]
vim = Openstack
stack = rapid
