[TestParameters]
name = Rapid_ETSINFV_TST009
number_of_tests = 1
total_number_of_test_machines = 2
lat_percentile = 99

[TestM1]
name = Generator
prox_launch_exit = false
config_file = {{data.config_file}}
dest_vm = 2
mcore = [{{data.mcore}}]
gencores = [{{data.gencores}}]
latcores = [{{data.latcores}}]

[TestM2]
name = Dummy
prox_launch_exit = false
prox_socket = false

[test1]
test=TST009test
warmupflowsize=128
warmupimix=[64]
warmupspeed=1
warmuptime=2
#imixs=[[64],[128],[256],[512],[1024],[1280],[1512]]
imixs=[{{data.pktsizes}}]
flows=[1]
drop_rate_threshold = 0
MAXr = 3
MAXz = 5000
MAXFramesPerSecondAllIngress = 12000000
StepSize = 10000
